

$primary: #21529d;
$info: #418ECB;

@import '~bootstrap/scss/bootstrap';
// :root{
//     --bs-primary: #21529d;
//     --bs-primary-rgb: 33, 82, 157;
//     --bs-info: #418ecb;
//     --bs-info-rgb: 65, 142, 203;
// }

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--bs-light);
}

::-webkit-scrollbar-thumb {
    background: $info;
}

::-webkit-scrollbar-corner {
    background: #760e6d;
}
:focus {
    outline: none;
    box-shadow: none !important;
}
.x-small {
    font-size: 0.675rem;
}